.card{
  width: 30%;
  position: absolute;
  top: 5rem;
}

span{
  color: #008800;
}

.text-left{
  position: relative;
  left: -4.3rem;
}

.form-check{
  position: relative;
  left: -4.4rem;
}

.form-check-input:checked{
  background-color: #008800 !important;
}

.form-control{
  background-color: #D9D9D9!important;
}


.form-control:focus{
  background-color: #D9D9D9 !important;
  border-color: transparent !important;
}


.btn .btn-success{
  width: 30rem !important;
}

.bottom-text{
  position: relative;
  left: -3.6rem;
}

@media screen and (max-width: 1400px){
  .smallText{
    position: relative;
    left: -2.2rem;
  }

  .smallText2{
    position: relative;
    left: -3.4rem;
  }

  .smallText3{
    position: relative;
    left: -3rem;
  }

}

@media screen and (max-width: 1200px){
  .smallText{
    position: relative;
    left: -.9rem;
  }

  .smallText2{
    position: relative;
    left: -2.1rem;
  }

  .smallText3{
    position: relative;
    left: -1.8rem;
  }
}